&spi2 {

	compatible = "nordic,nrf-spim";
	status = "okay";

	sck-pin = <4>;
	mosi-pin = <5>;
	miso-pin = <6>;

	cs-gpios = <&gpio0 7 GPIO_ACTIVE_LOW>;

	ads129xr0: ads129xr@0 {
		compatible = "ti,ads129xr";
		label = "ADS129xR";
		reg = <0>;
		status = "okay";
		spi-max-frequency = <4000000>;

		pwdn-gpios = <&gpio1 10 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio1 11 GPIO_ACTIVE_LOW>;
		drdy-gpios = <&gpio1 13 GPIO_ACTIVE_LOW>;
		start-gpios = <&gpio1 14 GPIO_ACTIVE_HIGH>;
		ledpw-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>;
	};
};