menuconfig ADS129XR
	bool "ADS1294R/ADS1298R ECG sensor"
	depends on SPI
	help
	  Enable driver for ADS129XR SPI-based ECG sensor.

if ADS129XR

config ADS129XR_THREAD_PRIORITY
	int "Own thread priority"
	default 10
	help
	  Priority of the thread used by the driver to handle interrupts.

config ADS129XR_THREAD_STACK_SIZE
	int "Own thread stack size"
	default 1024
	help
	  Stack size of thread used by the driver to handle interrupts.

endif # ADS129XR
